
name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - run: docker build . -t alfiya7/next-js-app:latest
    - run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin 
    - run: docker push alfiya7/next-js-app:latest